@import "reset.scss";
@import "normalize.css";

//font-weight
$font-medium: 500;
$font-regular: 400;
$font-semi-bold: 600;

//color
$grey: #b1b1b1;
$active: #1814f3;
$light-blue: #718ebf;
$black: #232323;
$bg-color: #f5f7fa;

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: 0.4px;
  background-color: $bg-color;
  box-sizing: border-box;
  display: flex;
  width: 100vw;
}

.sidebar {
  padding: 33px 24px 0 44px;
  background-color: white;
  height: 100vh;

  &__logo-img {
    width: 182px;
  }

  &__menu {
    font-size: 18px;
    color: $grey;
    padding-top: 62px;
    list-style-type: none;
  }
  li {
    display: flex;
    align-items: center;
    gap: 26px;
    padding-bottom: 39px;
    cursor: pointer;
  }
  li:hover {
    text-decoration: underline;
  }
  .li-active {
    color: $active;
    position: relative;
  }
  .li-active::after {
    content: "";
    display: block;
    width: 6px;
    height: 60px;
    background-color: blue;
    position: absolute;

    left: -44px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  @media (max-width: 980px) {
    display: none;
  }
}

.main {
  width: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  gap: 35px;
  align-items: center;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;

  &__title {
    font-size: 28px;
    font-weight: $font-semi-bold;
    color: #343c6a;
    letter-spacing: 1px;
  }

  &__burger-menu {
    width: 18px;
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    cursor: pointer;
    div {
      width: 100%;
      height: 2px;
      border-radius: 50px;
      background-color: #343c6a;
    }
  }
  &__search-bar {
    display: flex;
    align-items: center;
    gap: 13px;
    background-color: #f5f7fa;
    padding-left: 25px;
    padding-right: 5px;
    border-radius: 40px;
    height: 50px;
    &__input {
      border: none;
      outline: none;
      background-color: transparent;
    }
    &__input::placeholder {
      color: #8ba3cb;
      font-size: 15px;
    }
    &__input::-moz-placeholder {
      color: #8ba3cb;
      opacity: 1;
    }
  }

  .icon {
    background-color: $bg-color;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon:hover {
    cursor: pointer;
  }
  &__profile-pic {
    width: 60px;
  }
  &__profile-pic:hover {
    cursor: pointer;
  }
}
@media (max-width: 980px) {
  .header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
    align-items: center;

    &__burger-menu {
      display: flex;
      grid-column: 1;
      grid-row: 1;
      justify-self: start;
    }

    &__title {
      grid-column: 1 / span 2;
      grid-row: 1;
      text-align: center;
      font-size: 20px;
    }

    &__profile {
      grid-column: 2;
      grid-row: 1;
      justify-self: end;
      img {
        width: 35px;
      }
    }
    &__input::placeholder {
      color: #8ba3cb;
      font-size: 13px;
    }

    .icon {
      display: none;
    }

    &__search-bar {
      grid-column: 1 / span 2;
      grid-row: 2;
      height: 40px;

      img {
        width: 16px;
      }
    }
  }
}

.settings-content {
  margin: 30px 40px;
  padding: 40px 30px;
  background-color: white;
  border-radius: 25px;

  &__tabs {
    margin-left: 16px;
    padding-bottom: 11px;
    border-bottom: 1px solid #f4f5f7;
    display: flex;
    align-items: center;
    gap: 70px;

    a {
      text-decoration: none;
      color: $light-blue;
      font-weight: $font-medium;
      position: relative;
    }

    a:hover {
      text-decoration: underline;
    }
    .active {
      color: $active;
      font-weight: $font-medium;
    }
    .active::after {
      content: "";
      display: block;
      width: 114px;
      height: 3px;
      background-color: blue;
      position: absolute;
      bottom: -12px;
      left: -16px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
    }
  }

  &__profile-form {
    display: flex;
    gap: 53px;
    padding-top: 55px;
  }

  &__profile-photo {
    position: relative;
    img {
      width: 130px;
    }
  }

  &__edit-icon {
    position: absolute;
    top: 84px;
    left: 102px;
    background-color: $active;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 15px;
    }
  }
  &__edit-icon:hover {
    cursor: pointer;
  }

  &__btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
  }

  &__save-btn {
    margin-top: 12px;
    grid-column: span 2;
    justify-self: end;
    background-color: $active;
    border: none;
    border-radius: 15px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: $font-medium;
    font-size: 18px;
    width: 190px;
    height: 50px;
    cursor: pointer;
  }
  &__save-btn:hover {
    background-color: #1916c7;
  }
}

@media (max-width: 980px) {
  .settings-content {
    margin: 25px;
    padding: 20px;
    border-radius: 15px;
    &__tabs {
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      gap: 0;
    }
    .active::after {
      width: 80px;
      height: 2px;
      background-color: blue;
      position: absolute;
      bottom: -10px;
      left: -5px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
    }

    &__profile-form {
      padding-top: 25px;
      flex-direction: column;
      align-items: center;
      gap: 22px;
    }

    &__profile-photo {
      img {
        width: 170px;
      }
    }
    &__edit-icon {
      top: 111px;
      left: 136px;
      width: 38px;
      height: 38px;
      img {
        width: 18px;
      }
    }
    &__save-btn {
      font-size: 15px;
      width: 100%;
      margin: 0;
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 22px;
  grid-column-gap: 29px;
  max-width: 870px;
  width: 100%;
  background-color: white;
  &__form-group {
    position: relative;

    input,
    select {
      width: 100%;
      max-width: 418px;
      padding: 16px 20px;
      border: 1px solid #dfeaf2;
      border-radius: 15px;
      box-sizing: border-box;
      color: $light-blue;
      font-weight: $font-regular;

      outline: none;
      transition: border-color 0.2s;
    }

    select {
      appearance: none;
      background: url("../assets/images/Vector\ 4.svg") no-repeat right 25px
        center;
      cursor: pointer;
    }
  }
}

label {
  font-weight: bold;
  display: block;
  font-weight: $font-regular;
  font-size: 16px;
  color: $black;
  padding-bottom: 11px;
}

input:focus,
select:focus {
  border-color: #007bff;
}
@media (max-width: 980px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
  label {
    font-size: 13px;
  }
  &__form-group {
    input,
    select {
      font-size: 12px;
      min-width: 100%;
    }
  }
}
